:root {
  --date-box-height: 32vh;
  --distance-left: calc(50vw - (var(--date-box-height) / 2));
  --padding-top: 7vh;
}
.detailed-date-and-venue {
  top: 100vh;
  position: absolute;
  background-color: white;
  height: 70vh;
  width: 100vw;
  display: flex;
}

.venue-info {
  min-width: var(--distance-left);
  background: linear-gradient(
    186deg,
    rgba(176, 174, 111, 1) 0%,
    rgba(110, 144, 148, 1) 100%
  );
  padding-top: 7vh;
  padding-left: var(--padding-top);
}
.mapboxgl-map {
}

.ceremony-title {
  border: 1px solid #ffffff;
  padding-left: 2vw;
  height: 20vh;
  display: flex;
  align-items: center;
  font-size: xx-large;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5rem;
}
.detailed-date-time-venue {
  border: 1px solid #ffffff;
  padding-left: 1.5vw;
  height: 40vh;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */

  color: white;
}

.detailed-date-time {
  padding-left: 1vw;
  height: 18vh;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  font-size: medium;
}

.venue {
  padding-left: 1vw;
  height: 18vh;

  /* font-size: medium; */
}
.title {
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.address {
  padding-top: 1vh;
  font-weight: 400;
}
